<div class="container main">
    <div class="row personal p-4">
     
            
          <div class="col-xl-6 col-lg-6 col-md-12  p-4">
            <div class=" text-center pb-4">
                <div>
                    <img src="../../assets/images/client-1.png"  alt="profile"
                    class="rounded-circle mb-3 w-50 h-50 image" />
                    
                </div>
            
             
            </div>
          </div>
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="mb-3">
                    <h4 class="d-flex justify-content-center border-bottom pb-4">
                        <span>{{name}}</span>
                        <div class="text-center mx-2">
                            <a routerLink='../editprofile'>
                            
                            <i class="fas fa-edit text-white "></i>
                            </a>
                        </div>
                    </h4>
                    <div class=" align-items-center justify-content-center py-4">
                        <div class="d-flex m-4">
                            <i class="fas fa-map-marker-alt " style="padding-right: 10px; font-size: 30px;"></i>
                            <span class="mr-1 text-black-50">from :</span>
                            <h6 class="font-weight-bolder">CAIRO</h6>
                        </div>
                        <div class="d-flex m-4">
                            <i class="fab fa-pagelines" style="padding-right: 22px; font-size: 30px;"></i>
                            <span class="mr-1 text-black-50">Age :</span>
                            <h6 class="font-weight-bolder">{{age}}</h6>
                        </div>
                        <div class="d-flex m-4">
                            <i class="fas fa-envelope"style="padding-right: 10px; font-size: 30px;"></i>
                            <span class="mr-1 text-black-50">e-mail: </span>
                            <h6>{{email}}</h6>
                        </div>
                        <div class="d-flex m-4">
                            <i class="fas fa-pencil-ruler" style="padding-right: 25px; font-size: 30px;"></i>
                            <span class="mr-1 text-black-50">Role: </span>
                            <h6 class="font-weight-bolder">{{role}}</h6>
                        </div>
                        <div class="d-flex m-4">
                            <i class="fas fa-phone"style="padding-right: 10px; font-size: 30px;"></i>
                            <span class="mr-1 text-black-50">call me : </span>
                            <h6 class="font-weight-bolder">01029848121</h6>
                        </div>
                    </div>
            </div>
            </div>
        
    </div>
  </div>